@forward "./fonts/fonts.module.scss";

@import "../../node_modules/augmented-ui/augmented-ui.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-easy h-full bg-own-gradient;
}

#root {
  @apply flex flex-col justify-between overflow-hidden w-full h-full;
  @apply text-gray-200 text-center;
  white-space: pre-line;
  z-index: -1;
}

.page_container {
  // @apply p-0 m-1 box-appears;
  @apply p-0 m-1;
  height: calc(100% - 0.5em);
  z-index: 0;

  --aug-border: initial;
  --aug-border-all: 3px;
  --aug-border-bg: linear-gradient(
    to bottom,
    rgba(25, 140, 230, 1),
    rgba(255, 150, 172, 0.75)
  );

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(26, 30, 35);
  --aug-inlay-opacity: 0.95;

  --aug-clip-tl1: initial;
  --aug-clip-tr1: initial;
  --aug-clip-bl1: initial;
  --aug-clip-br1: initial;
}

.page_content_container {
  // @apply flex flex-col items-center overflow-y-scroll box-appears;
  @apply flex flex-col items-center overflow-y-scroll;
  height: calc(100% - 3rem);
  z-index: 20;
}

// Ahahah

.dark_aug_ui_container {
  @apply px-2 py-1;
  --aug-border: initial;
  --aug-border-all: 1px;
  --aug-border-bg: rgba(255, 150, 172, 0.75);

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(26, 30, 35);
  --aug-inlay-opacity: 0.85;
}

.dark_aug_ui_container_secondary {
  @apply px-2 py-1;
  --aug-border: initial;
  --aug-border-all: 1px;
  --aug-border-bg: rgba(25, 140, 230, 0.75);

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(26, 30, 35);
  --aug-inlay-opacity: 0.85;
}

.dark_aug_ui_text_container {
  @apply py-3 px-7 mx-2;
  --aug-border: initial;
  --aug-border-top: 2px;
  --aug-border-right: 1px;
  --aug-border-bottom: 2px;
  --aug-border-left: 1px;
  --aug-border-bg: rgba(255, 150, 172, 0.75);

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(26, 30, 35);
  --aug-inlay-opacity: 0.85;

  --aug-clip-l1: initial;
  --aug-clip-l2: initial;
  --aug-l-extend1: 16px;
  --aug-clip-r1: initial;
  --aug-clip-r2: initial;
  --aug-r-extend1: 16px;
}

.dark_aug_ui_text_container_secondary {
  @apply py-3 px-7 mx-2;
  --aug-border: initial;
  --aug-border-top: 2px;
  --aug-border-right: 1px;
  --aug-border-bottom: 2px;
  --aug-border-left: 1px;
  --aug-border-bg: rgba(25, 140, 230, 0.75);

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(26, 30, 35);
  --aug-inlay-opacity: 0.85;

  --aug-clip-l1: initial;
  --aug-clip-l2: initial;
  --aug-l-extend1: 16px;
  --aug-clip-r1: initial;
  --aug-clip-r2: initial;
  --aug-r-extend1: 16px;
}

.dark_aug_ui_text_container_2_primary {
  @apply py-3 px-7 mx-2 border-t-2 border-b-2 border-primary-75;

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(59, 59, 60);
  --aug-inlay-opacity: 0.25;
}

.dark_aug_ui_text_container_2_secondary {
  @apply py-3 px-7 mx-2 border-t-2 border-b-2 border-secondary-75;

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(59, 59, 60);
  --aug-inlay-opacity: 0.25;
}

.separator_primary {
  @apply w-3/4 my-4 border-primary-75;
}

.separator_secondary {
  @apply w-3/4 my-4 border-secondary-75;
}

.separator_slate {
  @apply w-1/2 border-slate-400 my-3;
}

.btn_futuristic {
  @apply py-1 px-6 font-futuristic;
  --aug-border: initial;
  --aug-border-all: 1px;
  --aug-border-bg: rgba(255, 150, 172, 0.75);

  &:hover {
    @apply bg-secondary-20;
  }
}

.btn_futuristic_secondary {
  @apply py-1 px-6 font-futuristic;
  --aug-border: initial;
  --aug-border-all: 1px;
  --aug-border-bg: rgba(25, 140, 230, 0.75);

  &:hover {
    @apply bg-primary-20;
  }
}

.dialog {
  @apply mb-2 pb-4;
  @apply md:mr-2 md:pr-4 md:pt-2;

  --aug-br: 15px;
  --aug-br1: var(--aug-br);
  --aug-br2: var(--aug-br1);

  --aug-bl: 15px;
  --aug-bl1: var(--aug-bl);
  --aug-bl2: var(--aug-bl1);

  --aug-border: initial;
  --aug-border-top: 0px;
  --aug-border-right: 2px;
  --aug-border-bottom: 3px;
  --aug-border-left: 2px;
  --aug-border-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );

  --aug-clip-br1: initial;
  --aug-clip-br2: initial;
  --aug-br-extend2: calc(var(--aug-br1) * 2);

  --aug-bl1-alt-join-out: initial;
  --aug-clip-bl1: initial;
  --aug-clip-bl2: initial;

  --aug-bl-extend1: calc(var(--aug-bl1) * 2);

  @media (screen(md)) {
    --aug-bl: 0px;
    --aug-br-extend2: initial;
    --aug-bl-extend1: initial;
    --aug-tr: 15px;
    --aug-tr1: var(--aug-tr);

    --aug-border: initial;
    --aug-border-top: 2px;
    --aug-border-right: 3px;
    --aug-border-bottom: 2px;
    --aug-border-left: 0px;

    --aug-border-bg: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );

    --aug-clip-br1: initial;
    --aug-clip-br2: initial;
    --aug-br1-alt-join-out: initial;
    --aug-br-extend1: calc(var(--aug-br1) * 2);

    --aug-clip-tr1: initial;
    --aug-clip-tr2: initial;
    --aug-tr-extend1: calc(var(--aug-tr1) * 2);
    --aug-tr1-alt-join-out: initial;
    --aug-tr2-alt-join-in: initial;
    --aug-tr-extend2: calc(var(--aug-tr1) * 2);
    --aug-tr2: var(--aug-tr1);
  }
}

.expandable_box {
  @apply w-4/5;
  @apply px-4 pt-2 pb-3;

  --aug-border: initial;
  --aug-border-all: 1px;
  --aug-border-bg: linear-gradient(
    to bottom,
    rgba(25, 140, 230, 1),
    rgba(255, 150, 172, 0.75)
  );

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(59, 59, 60);
  --aug-inlay-opacity: 0.25;
}

.expandable_box_title {
  @apply flex flex-row items-center justify-between w-full;
  @apply text-left text-2xl cursor-pointer;

  & h2 {
    @apply flex flex-row items-center mb-2 text-3xl;
  }
}

.expandable_box_contents {
  @apply mt-2;
  @apply text-left text-xl;
}

.small_header_text_block {
  @apply text-2xl leading-relaxed underline underline-offset-4;
}

.text_block {
  @apply border-l-2 border-l-primary-40 pl-2 mb-1;
  @apply text-justify leading-relaxed;
}

// End Ahah

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 150, 172, 1),
    rgba(25, 140, 230, 1)
  );
}
