@font-face {
  font-family: "ProcrastinatingPixie";
  src: url(fonts/ProcrastinatingPixie.ttf) format("truetype");
}

@font-face {
  font-family: "Spaceport";
  src: url(fonts/Spaceport_2006.otf) format("opentype");
}

@font-face {
  font-family: "EasyReading";
  src: url(fonts/EasyReading.ttf) format("truetype");
}
