#nav_bar_container {
  @apply relative w-full h-10 flex flex-row items-start justify-between overflow-auto;
  @apply p-0;

  & a {
    @apply h-auto;
  }
}

.nav_menu {
  @apply relative w-fit h-8 md:h-9 bg-transparent flex flex-row p-0;
}

.nav_item {
  @apply flex items-center;
  @apply px-2 py-0 m-0 h-full;
  @apply text-secondary-75 text-lg text-center text-nowrap;

  --aug-border: initial;
  --aug-border-top: 0px;
  --aug-border-right: 1px;
  --aug-border-bottom: 1px;
  --aug-border-left: 0px;
  --aug-border-bg: rgba(255, 150, 172, 0.6);
  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(26, 30, 35);
  --aug-inlay-opacity: 0.95;

  &.current {
    @apply text-slate-300 bg-primary-40;

    :hover > & {
      @apply text-slate-50;
    }
  }

  & + .closer {
    @apply bg-primary-30 mr-1;
    width: 17px;
  }

  :hover > & {
    @apply text-secondary-100;
  }
}

.nav_brand_container {
  @apply flex flex-row justify-between items-center;
  @apply p-0 w-auto;

  --aug-border: initial;
  --aug-border-top: 0px;
  --aug-border-right: 1px;
  --aug-border-bottom: 1px;
  --aug-border-left: 0px;
  --aug-border-bg: rgba(255, 150, 172, 0.75);

  --aug-inlay: initial;
  --aug-inlay-all: 0px;
  --aug-inlay-bg: rgb(26, 30, 35);
  --aug-inlay-opacity: 0.85;

  & a {
    height: 100% !important;
  }
}

.site_brand {
  @apply flex flex-row items-center;
  @apply w-full h-full pl-5 pr-2;
  @apply text-primary-75 text-lg font-bold;
  text-decoration: none;
  transition: 0.2s linear;

  &.current {
    @apply text-slate-300 bg-primary-40;

    &:hover {
      @apply text-slate-50;
    }
  }

  &:hover {
    @apply text-primary-100;
  }
}

