@font-face {
  font-family: "ProcrastinatingPixie";
  src: url(./ProcrastinatingPixie.ttf) format("truetype");
}

@font-face {
  font-family: "Spaceport";
  src: url(./Spaceport_2006.otf) format("opentype");
}

@font-face {
  font-family: "EasyReading";
  src: url(./EasyReading.ttf) format("truetype");
}
