.secret_steps_container {
  @apply block text-gray-700 px-4 whitespace-nowrap;

  --aug-border: initial;
  --aug-border-top: 0px;
  --aug-border-right: 1px;
  --aug-border-bottom: 1px;
  --aug-border-left: 1px;
}
